* {
    margin: 0;
    padding: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

.menu_objets {
    list-style: none;
    display: flex;
    gap: 45px;
    margin-right: 500px;
}

.menu_objets li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    transition: color 0.3s ease, border-bottom 0.5s ease;
}

.logo {
    list-style: none;
    display: flex;
    margin-left: 50px;
}

.logo li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-block;
}

.menu_objets li a.active,
.menu_objets li a:hover {
    color: #b700ff;
    border-bottom: 2px solid #b700ff;
}

.logo li a:hover {
    color: #b700ff;
}